<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChargeBee</title>
<!--    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="honeycomics-v3-test" ></script>-->
    <script src="https://js.chargebee.com/v2/chargebee.js" data-cb-site="ajirasoft-test" ></script>
</head>
<body>
Hello CB

<hr>

<!--<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="comics-box" >Buy me another drink!</a>-->
<a href="javascript:void(0)" data-cb-type="checkout" data-cb-plan-id="cbdemo_free" >subscribe</a>
<hr>

<a href="javascript:void(0)" data-cb-type="portal">
    MANAGE ACCOUNT
</a>

</body>
</html>
