<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://js.chargebee.com/v2/chargebee.js"></script>
    <script>
        const response = {
            "created_at": 1590466399,
            "embed": true,
            "expires_at": 1590477199,
            "id": "vJrVGYSFwobBsNxf48kG3DCFt0FcF7Rt",
            "object": "hosted_page",
            "resource_version": 1590466399194,
            "state": "created",
            "type": "checkout_new",
            "updated_at": 1590466399,
            "url": "https://honeycomics-v3-test.chargebee.com/pages/v3/vJrVGYSFwobBsNxf48kG3DCFt0FcF7Rt/",
        };
        $(document).ready(function() {
            var cbInstance = window.Chargebee.init({site: "honeycomics-v3-test"});

            cbInstance.setPortalSession(() => {
                return new Promise(function(resolve, reject){
                    // alert('response');
                    return resolve(response);
                });
            });

            $("#cb-checkout").on("click", function(event) {
                event.preventDefault();
                event.stopPropagation();
                cbInstance.openCheckout({
                    hostedPage: function() {
                        // alert('inside hosted page');
                        return new Promise(function(resolve, reject){
                            console.log('inside hosted page');
                            return resolve(response);
                        });
                        // return $.ajax({
                        //     method: "post",
                        //     url: "https://www.recur.in/api/generate_checkout_new_url_demo",
                        //     data: {
                        //         firstName: "Prabu",
                        //         lastName: "Tester",
                        //         email: "prabu@tester.com",
                        //         phone: "9090909090",
                        //         company: "Ajira"
                        //     },
                        //     crossDomain: true,
                        // });
                    },
                    loaded: function() {
                        alert('opening checkout');
                        console.log("checkout opened");
                    },
                    close: function() {
                        console.log("checkout closed");
                    },
                    success: function(hostedPageId) {
                        console.log(hostedPageId);
                    },
                    step: function(value) {
                        console.log(value);
                        alert('value' + value);
                    }
                });
            });
        });
    </script>
</head>
<body>
<div id="app">
    <a href="javascript:void(0)" id="cb-checkout">Sample API Checkout</a>
</div>
</body>
</html>
